<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Novo Cadastro</h1>
        <form method="POST">
            <input type="text" name="nome" placeholder="Nome completo" required>
            <input type="email" name="email" placeholder="E-mail" required>
            <button type="submit">Salvar Usuário</button>
        </form>
        <br>
        <a href="/" style="color: #666; text-decoration: none; font-size: 14px;">← Voltar</a>
    </div>
</body>
